.bundle/
log/*.log
pkg/
spec/test_app/db/*.sqlite3
spec/test_app/db/*.sqlite3-journal
spec/test_app/log/*.log
spec/test_app/tmp/
spec/test_app/.sass-cache
spec/test_app/config/lti_public_resources_config.yml
spec/test_app/config/*.yml

# ember app
/ember-app/tmp
/ember-app/dist
/ember-app/coverage/*
/ember-app/bower_components/*
/ember-app/node_modules
/ember-app/vendor/*
!/ember-app/vendor/loader.js
