<!DOCTYPE html>
<html>
<head>
  <title>LTI Public Resources</title>
</head>
<body style="margin: 0px; padding: 0px; overflow: hidden;">
<iframe src="http://www.khanacademy.org/embed_video?v=<%= @remote_id %>" 
  frameborder="0" style="position: absolute; height: 100%; overflow: hidden; width:100%;" 
  height="100%" width="100%" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</body>
</html>
