<!DOCTYPE html>
<html>
<head>
  <title>LTI Public Resources</title>
</head>
<body style="margin: 0px; padding: 0px; overflow: hidden;">
<iframe src="https://www.youtube.com/apiplayer?video_id=<%= @remote_id %>" 
  frameborder="0" style="position: absolute; height: 100%; overflow: hidden; width:100%;" 
  height="100%" width="100%" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<%= render partial: "analytics" %>
</body>
</html>
